	.btnprimary
	{
	
		padding:12px 25px;
		color:#fff;
		background-color:#4284d3;
		border-color:#949494;
		font-size:20px;
	}
	label
	{
		display: inline-block;
		width: 180px;
		font-size: 20px;
	}
	select
	{
		margin-right: 68px;
		font-size: 30px;
	}
	.inputtext
	{
		padding-right: 40px;
	}
	.inputtext2
	{
		display: inline-block;
		margin-left: 200px;
	}
	input[type="file"]
	{
	font-size: 30px;
	}
	.droite
	{
		display:inline-block;
		margin-left: 30px;
	}
	.gauche
	{
		float:left;
	}